facenet-pytorch
fastapi
# openai-clip
open_clip_torch
Pillow==11.2.1
pydantic
numpy
python-multipart
requests
scikit-learn
torch
torchaudio
torchvision
uvicorn[standard]
transformers>=4.41.2
accelerate
protobuf
einops
timm
timm
